<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.13.3" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="4.3.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net461" />
  <package id="Selenium.Support" version="4.11.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.11.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="117.0.5938.9200" targetFramework="net461" />
  <package id="SeleniumExtras.WaitHelpers" version="1.0.0" targetFramework="net461" />
  <package id="WebDriver.ChromeDriver" version="26.14.313457.1" targetFramework="net461" />
</packages>